census-api-local.R
*.png
*.doc

###big datasets
data/USPS_zips_no_impute.csv
data/USPS_zips.csv
data/external_data/mastercard/*
data/external_data/USPS_gsb/*
data/external_data/USPS_online/*
data/exernal_data/nhgis/*
data/external_data/inrix.xslx
data/external_data/TRACT_ZIP_092020.csv

###figures and tables
figures-tables/cities/*
figures-tables/cities-categories/*
